*.tar.gz
*.dsc
*.deb
*.exe
*.[aos]
*.py[co]
.depend/
*.gcda
*.gcno
*.gcov
*+
/config.mak
/autom4te.cache
/config.cache
/config.log
/config.status
/config.mak.autogen
/config.mak.append
/tags
/TAGS
/cscope*
Makefile
*.obj
*.lib
*.sln
*.suo
*.ncb
*.vcproj
*.user
*.idb
*.pdb
/Debug/
/Release/
